polybar/.config/polybar/polybar-scripts/openweathermap-simple.sh
nvim/.config/nvim/plugin/*
nvim/.config/nvim/plugin/packer_compiled.lua
.luarc.json
Thunar/.config/Thunar/accels.scm
**/__pycache__/
.config/nvim/plugin/packer_compiled.lua
config/.config/ranger/plugins/ranger_devicons/

config/.config/nvim/plugin
config/.config/zsh/.zcompdump
config/.config/kitty/kitty.conf.bak
config/.config/zsh/.zcompdump.archlinux.73793
config/.config/zsh/.zsh_history
config/.config/zsh/.zcompdump.archlinux.36238
