* {
  transition: 200ms ease;
  font-family: Lexend;
  font-size: 16px;
}
#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}
#match:selected {
  background: rgba(137, 180, 250, 0.5);
}
#match {
  padding: 3px;
  border-radius: 6px;
}
#entry,
#plugin:hover {
  border-radius: 8px;
}
box#main {
  background: rgba(30, 30, 46, 1);
  border: 1px solid #28283d;
  border-radius: 12px;
  padding: 8px;
}
row:first-child {
  margin-top: 6px;
}
