# Arch
#alias upgrade='sudo pacman -Syu'
alias pinfo='pacman -Qi '
alias aur='pacman -Qm'
#alias aurup='paru -Sua'
#alias pacins='sudo pacman -S '
#alias pacrem='sudo pacman -R '
#alias pacsea='pacman -Ss '

# ls
alias ls='ls --color=auto'
alias la='ls -a'
alias ll='ls -lah'

# exa
alias exa='eza --icons --group-directories-first'
alias ex='exa -a'
alias exx='exa -la'
alias exg='exa -la --git'
alias tree="exa --tree --level=2"

# Git
alias gs='git status'
alias gc='git commit -S -m '
alias gp='git push'
alias gpo='git push -u origin main'
alias gco='git checkout '
alias gb='git branch '
alias gpl='git pull'
alias gplo='git pull origin'
alias gr='git revert -S '
alias gf='git fetch'
alias gfp='git fetch && git pull'

# System
# alias reboot='systemctl reboot'
# alias shutdown='systemctl poweroff'

# Misc
alias grep='grep -i --color=auto'
alias rg='rg -i'
alias v='nvim'
alias nvchad='NVIM_APPNAME=nvchad nvim'
alias vc='NVIM_APPNAME=nvchad nvim'
alias mvim='NVIM_APPNAME=minimal-nvim nvim'
alias emacs='emacsclient -c -a 'emacs''
# alias ..='cd ..'
# alias rm='rm -I '
alias lg='lazygit'
alias hx='helix'
alias n='nnn'
alias yarn='yarn --use-yarnrc $XDG_CONFIG_HOME/yarn/config'
alias kitten='kitty +kitten '
alias dusize='du -hd 1 | sort -hr'
alias duten='du -hd 1 | sort -hr | tail -n +2 | head'
